<div class="col-sm-6">
  <h1 class="m-0">{{ feature_name }}</h1>
</div>
<div class="col-sm-6">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/events/">ホーム</a></li>
        <!--% for breadcrumb in breadcrumbs %-->
        <li class="breadcrumb-item"><a href="{{ feature_url }}">{{ feature_name }}</a></li>
        <!--% endfor %-->
        <li class="breadcrumb-item active" aria-current="page">{{ action_name }}</li>
    </ol>
  </nav>
  <!-- /.breadcrumb -->
</div>
