## Browserslist setting
## @see https://github.com/browserslist/browserslist#best-practices
##
## ### Setting check
##
## ```
## npx browserslist
## ```
## or
## playground (https://browsersl.ist/)
## -----------------

## Browserslist's default browsers(`> 0.5%, last 2 versions, Firefox ESR, not dead`)
defaults

