### macOS ###
# General
.DS_Store

### Windows ###
# Windows thumbnail cache files
Thumbs.db

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### WebStorm / PhpStorm ###

.idea/

### Node ###
# Logs
logs
*.log

# Dependency directories
node_modules/

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### app ###

pages.json
**/vars.yml
/src/*
!/src/.gitkeep
/public/*
!/public/.gitkeep

### screenshot
screenshots/*
!/screenshots/.gitkeep
