<!-- lteside:user -->
<!-- lteside:search -->
<ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
  <!-- lteside:item -->
  <!-- lteside:item:tree -->
  <li class="nav-item">
    <a href="/events/" class="nav-link">
      <i class="fas fa-calendar-alt nav-icon"></i>
      <p>予約管理</p>
    </a>
  </li>
  <!-- /.nav-item -->
  <li class="nav-item">
    <a href="/members/" class="nav-link">
      <i class="fas fa-address-card nav-icon"></i>
      <p>会員管理</p>
    </a>
  </li>
  <!-- /.nav-item -->
</ul>
