<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="text" class="control-label">会員番号</label>
      <input type="text" name="text" id="text" value="000001" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="text" class="control-label">名前</label>
      <input type="text" name="text" id="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="text" class="control-label">フリガナ</label>
      <input type="text" name="text" id="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="text" class="control-label">電話番号</label>
      <input type="tel" name="tel" id="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="text" class="control-label">メールアドレス</label>
      <input type="email" name="email" id="text" value="" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="birthday" class="control-label">生年月日</label>
      <input type="date" name="birthday" id="birthday" value="" class="form-control"
        pattern="[0-9]\{4}-[0-9]\{2}-[0-9]\{2}" readonly>
    </div>
    <!-- /.form-group -->
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">ヒットポイント(HP)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="hp" value="a" id="hp-a" class="form-check-input" disabled>
              <label class="form-check-label" for="hp-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="hp" value="b" id="hp-b" class="form-check-input" disabled>
              <label class="form-check-label" for="hp-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="hp" value="c" id="hp-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="hp-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="hp" value="d" id="hp-d" class="form-check-input" disabled>
              <label class="form-check-label" for="hp-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="hp" value="e" id="hp-e" class="form-check-input" disabled>
              <label class="form-check-label" for="hp-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">マジックポイント(MP)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="mp" value="a" id="mp-a" class="form-check-input" disabled>
              <label class="form-check-label" for="mp-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="mp" value="b" id="mp-b" class="form-check-input" disabled>
              <label class="form-check-label" for="mp-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="mp" value="c" id="mp-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="mp-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="mp" value="d" id="mp-d" class="form-check-input" disabled>
              <label class="form-check-label" for="mp-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="mp" value="e" id="mp-e" class="form-check-input" disabled>
              <label class="form-check-label" for="mp-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">力強さ(STR)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="str" value="a" id="str-a" class="form-check-input" disabled>
              <label class="form-check-label" for="str-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="str" value="b" id="str-b" class="form-check-input" disabled>
              <label class="form-check-label" for="str-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="str" value="c" id="str-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="str-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="str" value="d" id="str-d" class="form-check-input" disabled>
              <label class="form-check-label" for="str-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="str" value="e" id="str-e" class="form-check-input" disabled>
              <label class="form-check-label" for="str-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">生命力(VIT)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="vit" value="a" id="vit-a" class="form-check-input" disabled>
              <label class="form-check-label" for="vit-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="vit" value="b" id="vit-b" class="form-check-input" disabled>
              <label class="form-check-label" for="vit-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="vit" value="c" id="vit-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="vit-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="vit" value="d" id="vit-d" class="form-check-input" disabled>
              <label class="form-check-label" for="vit-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="vit" value="e" id="vit-e" class="form-check-input" disabled>
              <label class="form-check-label" for="vit-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">器用さ(DEX)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="dex" value="a" id="dex-a" class="form-check-input" disabled>
              <label class="form-check-label" for="dex-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="dex" value="b" id="dex-b" class="form-check-input" disabled>
              <label class="form-check-label" for="dex-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="dex" value="c" id="dex-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="dex-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="dex" value="d" id="dex-d" class="form-check-input" disabled>
              <label class="form-check-label" for="dex-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="dex" value="e" id="dex-e" class="form-check-input" disabled>
              <label class="form-check-label" for="dex-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">素早さ(AGI)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="agi" value="a" id="agi-a" class="form-check-input" disabled>
              <label class="form-check-label" for="agi-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="agi" value="b" id="agi-b" class="form-check-input" disabled>
              <label class="form-check-label" for="agi-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="agi" value="c" id="agi-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="agi-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="agi" value="d" id="agi-d" class="form-check-input" disabled>
              <label class="form-check-label" for="agi-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="agi" value="e" id="agi-e" class="form-check-input" disabled>
              <label class="form-check-label" for="agi-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="radio" class="control-label">知性(INT)</label>
          <div>
            <div class="form-check form-check-inline">
              <input type="radio" name="int" value="a" id="int-a" class="form-check-input" disabled>
              <label class="form-check-label" for="int-a">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="int" value="b" id="int-b" class="form-check-input" disabled>
              <label class="form-check-label" for="int-b">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="int" value="c" id="int-c" class="form-check-input" checked disabled>
              <label class="form-check-label" for="int-c">C</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="int" value="d" id="int-d" class="form-check-input" disabled>
              <label class="form-check-label" for="int-d">D</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="int" value="e" id="int-e" class="form-check-input" disabled>
              <label class="form-check-label" for="int-e">E</label>
            </div>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
    <div class="form-group">
      <label for="textarea" class="control-label">備考</label>
      <textarea name="textarea" id="textarea" rows="10" class="form-control" readonly></textarea>
    </div>
    <!-- /.form-group -->
  </div>
</div>
